*,
body,
html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background-color: #4C4C4C;

}

header {
	color: #DBDBDB;
	font-size: 50px;
	text-align: center;
}

h1 {
	text-align: center;
	color: #dbdbdb;
}

nav {
	height: 50px;
	background-color: #636363;
}

article {
	background-color: #303030;
	margin-top: 1vh;
	width: auto;
	height: auto;
	padding-left: 10px;
	overflow: hidden;
	text-wrap: pretty;
}

article p {
	color: white;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

ul a {
	font-size: 40px;
	color: #dbdbdb;
}

ul a:hover {
	color: #85c7f2;
}

a:visited {
	color: #9085f2;
}

ul li {
	padding: auto;
}

@media (max-width: 450px) {
	nav {
		height: auto;
		text-align: center;
	}

	ul {
		display: block;
		justify-content: space-around;
		list-style-type: none;
	}
}